@model MvcFox.Models.TestFormEditViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-8">
        @using (Html.BeginForm("Index", "TestForm", FormMethod.Post, new { @class = "form-horizontal use-justjson", role = "form" }))
        {
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="提交" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
</div>
@section scripts {
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/jquery.unobtrusive-justjson.js"></script>
<script type="text/javascript">
    $(function () {
        //定义验证方法
        //$.validator.addMethod("validTest", function (value, element) {
        //    return value != 'test';
        //}, "test不能注册。");

        //添加验证规则
        //$("#Name").rules("add", {
        //    validTest: true//, messages: {validTest:"“test”不能注册。"}
        //});

        //删除验证规则，多个请用空格分隔，入"required validTest"
        //$("#Name").rules("remove", "required");

        //add remote rule
        $("#Name").rules("add", {
            "remote":{
                url: '@Href("~/TestForm/RemoteValidTest")',
                type: "post",
                data: { name: $("#Name").val() }
            }, messages: { "remote": "不能注册。" }
        });

        //$('form.use-justjson').bind('ajax-success', function () {
        //    // do something.
        //    alert("保存成功2。");
        //}).bind('ajax-failed', function () {
        //    // maybe do something.
        //    alert("发生错误2。");
        //});


    });

</script>

}


<!--
参考资料：
ASP.NET MVC 3 - Getting your hooks into Unobtrusive Validation and AJAX
http://blog.dee4star.com/getting-hooks-into-unobtrusive-validation-and-ajax
-->