@model MvcFox.Models.ImageEditViewModel
@{
    //头像编辑，截图框在原始图片内
    Layout = null;
    Guid folder = Guid.NewGuid();
    string CurrentFolder = Guid.NewGuid().ToString();
    string postfix = "_" + folder.GetHashCode().ToString("x");
    int leftBoxWidth = Model.ImageWidth * 2;
    int leftBoxHeight = Model.ImageHeight * 2;
    int rightBoxWidth = Model.ImageWidth;
    int rightBoxHeight = Model.ImageHeight;

    int dlgHeight = leftBoxHeight + 200;
    int dlgWidth = leftBoxWidth + rightBoxWidth + 150;
}

<style type="text/css">
    .imgContainer .qq-upload-button {background-color:transparent}
    #btnUpload_@postfix
    {
        background: url("@Href("~/Content/images/img-upload.png")");
        width: 112px;
        height: 24px;
        border: 0;
    }
    #btnLeft_@postfix
    {
        background: url("@Href("~/Content/images/btn-left.png")");
        width: 80px;
        height: 25px;
        border: 0;
        float: left;
        margin-left: 46px;
        margin-top: 5px;
    }
    #btnRight_@postfix
    {
        background: url("@Href("~/Content/images/btn-right.png")");
        width: 80px;
        height: 25px;
        border: 0;
        float: right;
        margin-right: 46px;
        margin-top: 5px;
    }
    #btnSave_@postfix
    {
        background: url("@Href("~/Content/images/btn-save.png")");
        width: 67px;
        height: 27px;
        border: 0;
        margin-top: 10px;
    }
    #btnCancel_@postfix
    {
        background: url("@Href("~/Content/images/btn-cancel.png")");
        width: 67px;
        height: 27px;
        border: 0;
        margin-top: 10px;
        margin-left: 15px;
    }

    .qq-upload-list
    {
        display: none;
    }

    .imgContainer
    {
        width:960px;
        padding:0 10px;
        height:600px;
    }

</style>
@*<link href="~/Content/messi/messi.min.css" rel="stylesheet" type="text/css" />*@
@*<link href="@Url.Content("~/Content/fineuploader.css")" rel="stylesheet" type="text/css" />*@
<link href="@Url.Content("~/Content/jquery.Jcrop.min.css")" rel="stylesheet" type="text/css" />
@*<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>*@
@*<script src="~/Scripts/jquery-ui-1.8.20.min.js" type="text/javascript"></script>*@
@*<script src="~/Content/messi/messi.min.js" type="text/javascript"></script>*@
<script src="@Url.Content("~/Scripts/jquery.fineuploader-3.0.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.Jcrop.js")" type="text/javascript"></script>

<div id="uploadBox_@postfix" class="imgContainer" title="图片上传" style="display:none">
    <table style="width: 100%">
        <tr>
            <td colspan="2" style="padding-left: 48px">
                <div id="btnUpload_@postfix">
                </div>
                <div style="color: #999">
                    仅支持JPG、GIF、PNG，文件小于<span class='filesize'>1M</span>。
                </div>
            </td>
        </tr>
        <tr>
            <td style="border-right: 1px solid #e5e5e5" align="center" valign="middle">
                <div id="leftimgbox_@postfix" style="width: @(leftBoxWidth)px; height: @(leftBoxHeight)px; border: 1px solid #b2b2b2;
                        margin: 0px auto; overflow: hidden">
                </div>
            </td>
            <td align="center" valign="middle">
                <div id="rightimgbox_@postfix" style="border: 1px solid #b2b2b2;width: @(rightBoxWidth)px; height: @(rightBoxHeight)px; overflow: hidden;">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="button" id="btnLeft_@postfix" />
                <input type="button" id="btnRight_@postfix" />
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td style="padding-left: 48px">
                <input type="button" id="btnSave_@postfix" />
                <input type="button" id="btnCancel_@postfix" />
            </td>
            <td></td>
        </tr>
    </table>
</div>

<script type="text/javascript">
(function(){
    var x, y, w, h;
    
    var cur_folder = '@CurrentFolder';
    var cur_fileid = null;

    var sPercent = 0;
    
    var lImageBox_width = @(leftBoxWidth);
    var lImageBox_height = @(leftBoxHeight);
    var rImageBox_width = @(rightBoxWidth);
    var rImageBox_height = @(rightBoxHeight);

    //上传后显示在左边的图片大小
    var up_width = 0;
    var up_height = 0;

    var cur_limitfilesize = 1*1024*1024;// 1 MB = 1 * 1024 * 1024 bytes

    function initUploader2() {
        var uploader = new qq.FineUploader({
            element: document.getElementById('btnUpload_@postfix'),
            text: {
                uploadButton: '　'
            },
            multiple: false,
            validation: {
                allowedExtensions: ['jpeg', 'jpg', 'gif', 'png'],
                sizeLimit: cur_limitfilesize //5 * 1024 * 1024 // 5 MB = 5 * 1024 * 1024 bytes
            },
            request: {
                endpoint: '@Href("~/HeadEdit/Upload")',
                params: { "folder": cur_folder, "maxWidth": lImageBox_width
                    , "maxHeight": lImageBox_height, "sizeLimit": cur_limitfilesize },
                forceMultipart: true
            },
            callbacks: {
                onSubmit: function (id, fileName) {
                    this._options.request.params.sizeLimit = cur_limitfilesize;
                },
                onError: function (id, fileName, reason) {                    
                },
                onComplete: function (id, fileName, responseJSON) {
                    if (responseJSON.success) {
                        cur_fileid = responseJSON.fileid;
                        sPercent = responseJSON.spercent;
                        hResolution = responseJSON.hResolution;//水平分辨率（以“像素/英寸”为单位）
                        vResolution = responseJSON.vResolution;//垂直分辨率（以“像素/英寸”为单位）
                        up_width = responseJSON.width;
                        up_height = responseJSON.height;

                        bindImg();
                    }
                }
            },
            messages: {
                typeError: "{file} 支持的文件扩展名: {extensions}.",
                sizeError: "{file} 文件太大, 最大支持 {sizeLimit}.",
                minSizeError: "{file} 文件太小, 最小支持 {minSizeLimit}.",
                emptyError: "{file} 文件不能为空.",
                noFilesError: "请选择文件.",
                onLeave: "正在上传文件，如果离开，上传将取消."
            },
            showMessage: function (message) {
                new Messi(message, { title: '提示', titleClass: 'anim error', modal: true, buttons: [{ id: 0, label: '关闭', val: 'X'}] });
            },
            debug: false
        });

        $(".qq-upload-button > div").height("24px").width("112px");
    }

    function bindImg() {
        var targetid = "_" + Math.random();
        targetid = targetid.replace(".", "");

        var image1url = '@Href("~/HeadEdit/DownloadThumbnail?folder=")' + cur_folder + '&fileid=' + cur_fileid + '&d=' + Math.random();
        var image2url = '@Href("~/HeadEdit/DownloadThumbnail?folder=")' + cur_folder + '&fileid=' + cur_fileid + '&d=' + Math.random();

        $("#leftimgbox_@postfix").empty();
        $("#rightimgbox_@postfix").empty();
        $("#leftimgbox_@postfix").html("<img id='" + targetid + "' src='" + image1url + "' />");
        $("#rightimgbox_@postfix").html("<img src='" + image2url + "' id='preview_@postfix' alt='Preview' class='jcrop-preview' />");

        setTimeout(function(){
            var jcrop_api = $('#' + targetid).Jcrop({
                onChange: updatePreview2,
                onSelect: updatePreview2,
                aspectRatio: rImageBox_width/rImageBox_height,
                bgFade: true,
                bgOpacity: .3,
                setSelect: [0, 0, rImageBox_width, rImageBox_height],
                allowResize: true//,
            });
        }, 1000);
    }

    function updatePreview2(coords, boundx, boundy) {//参数coords表示截图框的大小
        if (parseInt(coords.w) > 0) {
            if(boundx == undefined || boundy == undefined){
                return;
            }

            x = coords.x;
            y = coords.y;
            w = coords.w;
            h = coords.h;

            var rx = rImageBox_width / coords.w;
            var ry = rImageBox_height / coords.h;

            $('#preview_@postfix').css({
                width: Math.round(rx * up_width) + 'px',
                height: Math.round(ry * up_height) + 'px',
                marginLeft: '-' + Math.round(rx * coords.x) + 'px',
                marginTop: '-' + Math.round(ry * coords.y) + 'px'
            });
        }
    }

    function showImage2(imgEId, fileid, folder) {
        var imgUrl = "@Href("~/HeadEdit/ShowImage?fileid=")" + fileid + "&folder=" + folder + "&d=" + Math.random();
        var rawImg = new Image();
        rawImg.onload = function () {
            var raw_height = rawImg.height;
            var raw_width = rawImg.width;
            var callback = @Model.JSCallback;
            if(typeof(callback) == "function") {
                callback(folder, fileid, imgUrl);
            }
        }

        rawImg.src = imgUrl; // this must be done AFTER setting onload
    }

    function clearUploadBox2() {
        cur_fileid = null;
        angle = 0;        
        $(".qq-upload-list").empty();
        $("#leftimgbox_@postfix").empty();
        $("#rightimgbox_@postfix").empty();
    }

    function btnImageSave_Click2() {
        if(cur_fileid == null) {
            clearUploadBox2();
            var callback = @Model.JSCallback;
            if(typeof(callback) == "function") {
                callback(null, null, null);
            }
            dlg.dialog( "close" );
            return;
        }
        var param = {
            "fileid": cur_fileid, "folder": cur_folder, "percent": sPercent
            , "x": x / sPercent, "y": y / sPercent, "w": w / sPercent, "h": h / sPercent
            , "maxWidth": rImageBox_width, "maxHeight": rImageBox_height
            , "angle" : angle
        };
        $.post("@Href("~/HeadEdit/SaveImage")", param, function (data) {
            if (data.success) {
                showImage2("imgHead", cur_fileid, cur_folder);                
                clearUploadBox2();
                dlg.dialog( "close" );
            }
        }, "json");
    }

    function btnImageCancel2() {
        clearUploadBox2();
        var callback = @Model.JSCallback;
        if(typeof(callback) == "function") {
            callback(null, null, null);
        }
        dlg.dialog( "close" );
    }

    function rotateImage(ang) {
        $.post("@Href("~/HeadEdit/Rotate")"
            , {'fileid':cur_fileid,'folder':cur_folder,'angle':ang,'maxWidth':lImageBox_width,'maxHeight':lImageBox_height}
            , function (data) {
            if (data.success) {
                up_width = data.width;
                up_height = data.height;
                sPercent = data.percent;
                bindImg();
            }
        }, "json");
    }
    
    function doRotateLeft() {
        angle += (90);
        rotateImage(angle);
    }
    function doRotateRight() {
        angle += (-90);
        rotateImage(angle);
    }

    var btnId = '@Model.ButtonId';
    var dlg = null;
    var angle = 0;

    $(function () {
        $("#" + btnId).click(function(){
            dlg = $( "#uploadBox_@postfix" ).dialog({
                height: @(dlgHeight), width: @(dlgWidth), modal: true
                ,close: function( event, ui ) {
                    clearUploadBox2();
                    dlg = null;
                }});
        });
        $("#btnLeft_@postfix").click(function(){
            doRotateLeft();
        });
        $("#btnRight_@postfix").click(function(){
            doRotateRight();
        });
        $("#btnSave_@postfix").click(function(){
            btnImageSave_Click2();
        });
        $("#btnCancel_@postfix").click(function(){
            btnImageCancel2();
        });
        initUploader2();
    });
})();


</script>


